resolver ${NGINX_RESOLVER} valid=60s ipv6=off;
resolver_timeout 5s;

map $ssl_preread_server_name $backend_name {
    ~*^node-.*\.${DOMAIN_MAIN}$    vps_node;      # node-* 标准TLS/探测 → 本机
    ~*\.${DOMAIN_MAIN}$            ${DOMAIN_HOME_TARGET};   # 无node前缀 = 家服
    default                        vps_node;      # Reality SNI 是 apple/amazon 等伪装站
}


log_format stream_debug '[$time_local] client=$remote_addr '
                     'protocol=$protocol status=$status '
                     'bytes_sent=$bytes_sent bytes_received=$bytes_received '
                     'session_time=$session_time sni=$ssl_preread_server_name '
                     'upstream=$upstream_addr';

upstream vps_node    { server 127.0.0.1:8443; }

server {
    listen 443;
    listen [::]:443;
    ssl_preread on;
    proxy_pass $backend_name;
    access_log /var/log/nginx/stream-debug.log stream_debug;
}
